---
layout: base
---

<!-- Title Image Section Start -->
<div class="image-bg" style="background:url('{{ image_source }}') no-repeat;background-size: cover;"
     alt="Image for {{ description }}">
    <div class="overlay"></div>
    <div class="col-md-12 col-sm-12 text-center">
        <div class="contents">
            <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">{{ title }}</h2>
            <p class="script-font wow fadeInUp" data-wow-delay="0.6s">{{ subtitle }}</p>
            <p class="post-meta wow fadeInUp" data-wow-delay="0.8s">Jada Cumberland | {{ page.date | postDate }}</p>
        </div>
    </div>
</div>

<!-- Article Section Begin -->
<div class="post-content wow fadeInUp" data-wow-delay="0.4s">
    {{ content | safe }}
</div>
<!-- Article Section End -->